.hero {
  background-image: url("/hero-small.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width >= 1024px) {
  .hero {
    background-image: url("/hero-big.webp");
  }
}
