@import "./variables.css";
@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    font-size: 62.5%;
    background-color: var(--color-dark-brown);
    color: var(--color-white);
    font-family: "Manrope", sans-serif;
  }

  .wrapper {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1600px;
  }
}
